          <%= form_for([current_user, current_user.recipes.build]) do |f| %>
            <div class="field form-group">
              <%= f.label :title %>
              <%= f.text_field :title, class:"form-control", placeholder: "Title", autofocus: true, placeholder: "Name of this recipe" %>
            </div>

            <div class="field form-group">
              <%= f.label :description %>
              <%= f.text_area :description, class:"form-control", placeholder: "Give a brief description of your recipe", rows: 4 %>
            </div>

            <div class="field form-group">
              <%= f.label :ingredients %>
              <%= f.text_area :ingredients, class:"form-control", placeholder: "List all of the ingredients required", rows: 10 %>
            </div>

            <div class="field form-group">
              <%= f.label :directions %>
              <%= f.text_area :directions, class:"form-control", placeholder: "List the steps required", rows: 10 %>
            </div>

            <div class="actions">
              <%= f.submit "Create Recipe", class:"btn btn-primary" %>
            </div>
          <% end %>
